
.vs/**
Debug/**
SDLTris.zip
.vscode/**
Debug/**
build/**
x64/**
Release/**
*.bak
*.o
SDLTetris
lib/**
include/adlmidi.h
include/emu_de_midi.h
include/fmt123.h
include/fluidlite.h
include/mpg123.h
include/opnmidi.h
include/syn123.h
include/timidity.h
include/xmp.h
include/zconf.h
include/zlib.h
include/FLAC/**
include/fluidsynth/**
include/gme/**
include/lib/**
include/libmodplug/**
include/ogg/**
include/opus/**
include/SDL2/**
include/tremor/**
include/vorbis/**
include/wavpack/**
callgrind.**
gmon.**
vgcore.**
*.bmp
*.knfs
/.cache
/scripts/moviefilm/frames
