<settings>
	<gameplay>
		<ghost>1</ghost>
		<hold>1</hold>
		<speedup>0</speedup>
		<fastdrop>1</fastdrop>
		<scoring>1</scoring>
		<repeathold>0</repeathold>
		<holdscoring>0</holdscoring>
		<levellength>20</levellength>
	</gameplay>
	<display>
		<bgcycle>1</bgcycle>
		<firstbg>0</firstbg>
		<lineclear>1</lineclear>
		<motion>1</motion>
		<neartop>1</neartop>
		<lowperf>0</lowperf>
	</display>
	<system>
		<fullscreen>0</fullscreen>
		<music>0</music>
		<sound>0</sound>
		<reset>0</reset>
	</system>
	<extra>
		<rotate>0</rotate>
		<bigger>0</bigger>
		<blind>0</blind>
		<antigravity>0</antigravity>
		<bomb>0</bomb>
		<mysteryblock>0</mystery>
		<mirror>0</mirror>
		<acidbath>0</acidbath>
	</extra>
	<debug>
		<showfps>0</showfps>
	</debug>
</settings>
